<header class="flex flex-col">
  <div class="flex justify-between border-b-2 p-8 items-center">
    <div class="w-64">Bug</div>
    <div class="flex-auto">
      <form>
        <fieldset class="flex">
          <input type="text" class="search-products-input pr-7" />
          <img src="assets/images/search-header.svg" alt="" class="-ml-7" />
        </fieldset>
      </form>
    </div>
    <div class="flex flex-auto space-x-24">
      <a routerLink="['/']" class="flex ml-24 space-x-2">
        <span>
          <img src="assets/images/login-header.svg" alt="" />
        </span>
        <span> Login </span>
      </a>
      <a routerLink="['/']" class="flex space-x-2">
        <span>
          <img src="assets/images/more-header.svg" alt="" />
        </span>
        <span> More </span>
      </a>
      <a routerLink="['/']" class="flex space-x-2">
        <nz-badge [nzCount]="9">
          <img src="assets/images/cart-header.svg" alt="" />
        </nz-badge>
        <span> Cart </span>
      </a>
    </div>
  </div>
  <div class="flex px-28 py-8 space-x-16 border-b-2 items-center">
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/top-offers.svg" alt="" />
      </span>
      <span>Top Offers</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/grocery.svg" alt="" />
      </span>
      <span>Grocery</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/mobiles.svg" alt="" />
      </span>
      <span>Mobiles</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/fashion.svg" alt="" />
      </span>
      <span>Fashion</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/electronics.svg" alt="" />
      </span>
      <span>Electronics</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/home.svg" alt="" />
      </span>
      <span>Home</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/appliance.svg" alt="" />
      </span>
      <span>Appliances</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/travel.svg" alt="" />
      </span>
      <span>Travel</span>
    </a>
    <a routerLink="['/']" class="flex flex-col items-center justify-center">
      <span>
        <img src="assets/images/more-bottom.svg" alt="" />
      </span>
      <span>Beauty & More</span>
    </a>
  </div>
</header>
