<a routerLink="['/deal-of-the-day']">
  <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="card.title" [nzDescription]="descriptionTemplate">
    </nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img
      alt="deal of the day product image"
      class="h-64"
      [src]="card.imagePath"
    />
  </ng-template>

  <ng-template #descriptionTemplate>
    <h3 class="text-red-500">{{ card.discount }}% offer</h3>
    <h3>{{ card.description }}</h3>
  </ng-template>
</a>
