<footer class="flex space-x-20 py-12 px-36 border-t-2">
  <div class="flex flex-col">
    <span class="text-gray-500">About</span>
    <span>Contact us</span>
    <span>About us </span>
    <span>Careers</span>
    <span>Bug Stories </span>
  </div>
  <div class="flex flex-col">
    <span class="text-gray-500">Help</span>
    <span>Payments</span>
    <span>Shipping</span>
    <span>FAQ</span>
    <span>Cancellation & Returns</span>
  </div>
  <div class="flex flex-col">
    <span class="text-gray-500">Policy</span>
    <span>Return Policy</span>
    <span>Terms Of Use</span>
    <span>Security</span>
    <span>Privacy</span>
  </div>
  <div class="flex flex-col">
    <span class="text-gray-500">Social</span>
    <span>Facebook</span>
    <span>Twitter</span>
    <span>Youtube</span>
  </div>
  <div class="flex flex-col">
    <span class="text-gray-500">Mail us </span>
    <span>bug0017@outlook.com</span>
  </div>
  <div class="flex flex-col">
    <span class="text-gray-500">Office Address</span>
    <span>No 123 main street, </span>
    <span>Village,</span>
    <span>City,</span>
    <span>Tamil Nadu - 605652</span>
    <span>Telephone: 8825549745</span>
  </div>
</footer>
